.vectorBg {
    background-image: url(../../../assets/vector_image.png);
    background-repeat: no-repeat;
    background-size: 40%;
    /* background-attachment: fixed; */
    /* background-position: left; */
    background-position: 0% 50%;
}