.bg1 {
    background-image: url(../../../../assets/threeBar.png);
    background-repeat: no-repeat;
    background-position: 5% -1%;
    background-size: 115px;
}

.bg2 {
    background-image: url(../../../../assets/threeBar2.png);
    background-repeat: no-repeat;
    background-position: 40% 55%;
    background-size: 115px;
}

.heroArea {
    /* background-image: url(../../../../assets/threeBar.png);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    margin-top: 100px; */
}

.heroLeft {
    margin: 150px 0px 0px 0px;
}

.hero_h2 {
    font-weight: 600;
    font-size: 44px;
    word-spacing: -5px;
    color: #000000;
}

.heroTitle {
    font-weight: 700;
    font-size: 45px;
}

.hero_p {
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
}

.heroImg {
    width: 600px;
}



@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {


    .bg1 {
        background-size: 90px;
    }

    .bg2 {
        background-size: 90px;
        background-position: 45% 77%;
    }



    .heroImg {
        width: 400px;
    }

    .heroTitle {
        font-weight: 700;
        font-size: 32px;
    }
}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    .bg1 {
        background-image: url(../../../../assets/threeBar.png);
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 100px;

    }

    .bg2 {
        background-image: url(../../../../assets/threeBar2.png);
        background-repeat: no-repeat;
        background-position: 40% 80%;
        background-size: 100px;

    }


    .heroImg {
        width: 321px;
    }

    .heroTitle {
        font-weight: 700;
        font-size: 26px;
    }

    .hero_p {
        font-size: 17px;
        line-height: 27px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {

    .bg1 {
        background-image: none;
    }

    .bg2 {
        background-image: none;
    }


    .heroLeft {
        margin: 50px 0px 0px 0px;
    }

    .heroTitle {
        font-weight: 700;
        font-size: 26px;
    }

    .hero_p {
        font-size: 17px;
        line-height: 27px;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {

    .bg1 {
        background-image: none;
    }

    .bg2 {
        background-image: none;
    }


    .heroLeft {
        margin: 50px 0px 0px 0px;
    }

    .heroTitle {
        font-weight: 700;
        font-size: 25px;
    }

    .hero_p {
        font-size: 17px;
        line-height: 27px;
    }
}