.servicesSection {
    margin: 100px 0;
}

.servicesSub {
    font-weight: 500;
    font-size: 27px;
    word-spacing: 5px;
}

.serviceCard {
    background-color: white;
    width: 370px;
    height: 330px;
    border-radius: 44px;
    border: 1px solid #6C066E;
}

.cardOne,
.cardThree {
    z-index: -1;
}

.cardTwo {
    z-index: 1;
}

.cardHead {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 47px;
    color: #6C066E;
}

.cardSub {
    font-weight: 500;
    font-size: 20px;
}

.learnMore {
    font-size: 18px;
    color: rgba(108, 6, 110, 0.7);
}

.serviceArrow {
    color: rgba(108, 6, 110, 0.7);
    width: 30px;
    height: 30px;
}


/* media query */
@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {
    .serviceCard {
        width: 270px;
        height: 250px;
        border-radius: 40px;
    }

    .servicesSub {
        font-weight: 500;
        font-size: 25px;
        word-spacing: 0px;
    }

    .cardSub {
        font-weight: 500;
        font-size: 16px;
        padding: 0 8px;
    }
}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    .serviceCard {
        width: 240px;
        height: 244px;
        border-radius: 40px;
    }

    .cardSub {
        font-weight: 500;
        font-size: 16px;
    }

    .servicesSub {
        font-weight: 500;
        font-size: 22px;
        word-spacing: 0px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .serviceCard {
        width: 340px;
        height: 344px;
        border-radius: 40px;
    }

    .cardSub {
        font-weight: 500;
        font-size: 16px;
    }

    .servicesSub {
        font-weight: 500;
        font-size: 22px;
        word-spacing: 0px;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {}