.footer_btn {
    color: white;
    text-decoration: none;
    /* padding: 8px; */
    border-radius: 10px;
    border: 0;
    font-weight: bold;
}

.footer_btn:hover {
    text-decoration: underline;
}

.footerSlogan {
    margin-left: 70px;
}

.footerSub {
    color: white;
}

.hrBar {
    height: 10px;
}

.footer_bg {
    background-color: rgba(108, 6, 110, 0.63);
}

.copyright_text {
    color: white;
}

.footer_logo {
    width: 180px;
}


@media (min-width: 768px) and (max-width: 768px) {


    .footer_logo {
        width: 160px;
    }
}


@media (min-width: 320px) and (max-width: 992px) {
    .footerSlogan {
        margin-left: 0px;
    }

    .footer_logo {
        width: 160px;
        margin: 10px 0;
    }

    .center-xm {
        justify-content: center;
    }
}