 .eventsCarousol {
   width: 570px;
   border: 1px solid #6C066E;
   border-radius: 20px;
   background-color: white;
 }

 .eventLogo {
   width: 425px;
 }

 .carButton [data-bs-target] {
   width: 20px !important;
   height: 20px !important;
   border-radius: 50%;
   margin-bottom: -45px;
 }

 .cardTitle {
   font-weight: 700;
   font-size: 27px;
   line-height: 42px;

   color: #6C066E;
 }

 .cardSubTitle {
   font-size: 18px;
   font-weight: 500;
 }

 .eventCarButton [data-bs-target] {
   width: 20px !important;
   height: 20px !important;
   border-radius: 50%;
   margin-bottom: -45px;
 }

 .dateMonth {
   background-color: #6C066E;
   border: 1px solid gold;
   color: white;
   border-radius: 5px;
 }

 /* media query */
 @media (min-width: 1440px) and (max-width: 2559.98px) {}

 @media (min-width: 1024px) and (max-width: 1199.98px) {
   .eventsCarousol {
     width: 407px;
     border-radius: 20px;
   }

   .eventLogo {
     width: 300px;
   }
 }

 @media (min-width: 992px) and (max-width: 1023.98px) {}

 @media (min-width: 768px) and (max-width: 991.98px) {
   .eventsCarousol {
     width: 300px;
     border-radius: 20px;
   }

   .eventLogo {
     width: 190px;
     height: 50px;
   }

 }

 @media (min-width: 425px) and (max-width: 767.98px) {
   .eventsCarousol {
     width: 390px;
     margin: 0px 2%;
     border-radius: 20px;
   }

   .eventLogo {
     width: 290px;
     height: 62px;
   }
 }

 @media (min-width: 320px) and (max-width: 424.98px) {
   .eventsCarousol {
     width: 345px;
     margin: 0px 2%;
     border-radius: 20px;
   }

   .eventLogo {
     width: 241px;
     height: 55px;
   }
 }