 .eventsCarousol {
   width: 628px;

   border: 1px solid #6C066E;
   border-radius: 20px;
 }

 .eventLogo {
   width: 60px;
 }

 .carButton [data-bs-target] {
   width: 20px !important;
   height: 20px !important;
   border-radius: 50%;
   margin-bottom: -45px;
 }

 .cardTitle {
   font-weight: 700;
   font-size: 27px;
   line-height: 42px;

   color: #6C066E;
 }

 .cardSubTitle {
   font-size: 18px;
   font-weight: 500;
 }

 .eventCarButton [data-bs-target] {
   width: 20px !important;
   height: 20px !important;
   border-radius: 50%;
   margin-bottom: -45px;
 }