.eventsArea {
    background-color: rgb(232, 232, 241);
    padding: 50px 0;
}



@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 425px) and (max-width: 767.98px) {
    .eventsArea {
        padding: 50px 0;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {
    .eventsArea {
        padding: 50px 0;
    }
}