.popular-location {
    margin: 100px 0;
}



.location-bg {
    /* background-color: white; */
    background-image: url('../../../assets/image/bgColor/bg_popular_location.png');
    background-size: 100vw;
    /* height: 850px; */
    background-repeat: no-repeat;
}



@media (min-width: 320px) and (max-width: 992px) {
    .popular-location {
        margin: 50px 0;
    }
}